body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    background: url('https://images.unsplash.com/photo-1548439935-9e1390d83250?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjB8fHxlbnwwfHx8fHw%3D') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.left-side .logo h1 {
    margin: 0;
}

.right-side {
   
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-container p {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-group label {
    flex-basis: 100%;
    font-weight: bold;
}

.form-group input {
    flex: 1;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(50% - 10px);
}


#error-message {
    color: red;
    display: none;
    
    
    
}

.create-account {
    margin-top: 20px;
    text-align: center;
}

.createbtn {
    background-color: #596D48;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.createbtn:hover {
    opacity: 1;
}
